@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Kalam:wght@300;400&family=Raleway:wght@300;400;600&display=swap');
*{
  font-family: 'Raleway', sans-serif;
}
.normal{
  font-family: 'Raleway', sans-serif;
}
.handwrite{
  font-family: 'Kalam', cursive;
}
.serif{
  font-family: 'Gowun Batang', serif;
  font-weight: 400;
}
.serif-bold{
  font-family: 'Gowun Batang', serif;
  font-weight: 700;
}


body {
  margin: 0;
}

.btn{
  border-bottom: 2px rgba(0, 0, 0, 0.31) solid;
  border-right: 2px rgba(0, 0, 0, 0.31) solid;

}
a{
  color:rgb(238, 214, 149);
  font-family: 'Gowun Batang', serif;
  font-weight: 700;
  text-decoration: inherit;
}
a:hover {
  color: rgb(200, 175, 112);
  font-weight: 700;
  text-decoration: inherit;
}

ul.hidden>li{
list-style: none;
}
.notebook{
  background-image: url("./assets/margin.png"),url("./assets/whiteline.png");
  background-repeat: repeat-y,repeat;
  background-attachment:fixed;
}
.margin-only{
  background-image: url("./assets/margin.png");
  background-repeat: repeat-y;
}
.bg-black{
  background-color: rgba(0, 0, 0, 0.822) !important; /* to add some transparency to offcanvas */
}
.form-grid{
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: center;
}
.notebook-light{
  background:url("./assets/margin.png") repeat-y,url("./assets/greyline.png") repeat;
  background-attachment:fixed; 
}
.register-form >input{
  background-color: rgba(0, 0, 0, 0.269);
  color: white;
}
.register-form >input:focus{
  background-color: rgba(0, 0, 0, 0.533);
  color: white;
}
.linkify>button, .linkify>button:active, .linkify>button:hover{
  background:none !important;
  border: none !important;
  padding: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  color:rgb(238, 214, 149) !important;
}
.linkify>button:hover{
  color: rgb(200, 175, 112) !important;
}

.text-shadow{
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.note-card{
  
  aspect-ratio: 1/1.414;
  overflow: hidden;
  border-radius: 20px;
  border: 12px solid transparent;
  padding: 15px;
  border-image: url('./assets/border.png') 30 repeat; 
  
}
.modal-90w{
  max-width: none!important;
  max-height: none !important;
  width:min(1000px, 95%);
  height: 95vh !important;
}
.modal-content{
  height: 100%;
}
.mini *{
scale: 0.5;
transform: translate(-50%,-50%);
padding:0;
margin: 0;
word-spacing: 25%;
white-space-collapse:collapse;
line-height: 0.9;
}
.mini{
  padding: 30px;
  width: 200%;
  height: 200%;
}
.mini p{
  text-align: justify;
}
.nav-pills .nav-link {
  background-color: rgb(204, 106, 127) !important;
  color: #FFFFFF !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid 2px rgba(0, 0, 0, 0.508) !important;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-pills .nav-link.active{
  background-color: rgb(175, 33, 64) !important;
  border-bottom: solid 2px rgb(175, 33, 64) !important;
}
.nav-pills .nav-link:hover {
  background-color: rgb(179, 73, 94) !important;
}
.nav-link.active:hover{
  background-color: rgb(175, 33, 64) !important;

}